{% extends 'base.html'%}

{% block title %}Accueil du Posts{% endblock %}

{% block content %}
    <h1>Le Posts de Docstring</h1>
    {% for post in posts %}
        <article>
            <h2> {{ post.title }}</h2>
            {% if request.user.is_authenticated %}
            <div>
                <a href="{% url 'posts:edit' post.slug %}">Modifier</a>
                <a href="{% url 'posts:delete' post.slug %}">Supprimer</a>
            </div>
            {% endif %}

            <h5> Publié par <i>{{ post.author_or_default }}</i> le {{ post.created_on|date:"j F Y" }}</h5>
            <p>{{ post.content|safe|truncatewords:50 }}</p>

            <form action="{% url 'posts:detail' post.slug %}">
                {% csrf_token %}
                <button type="submit">Lire le post</button>
            </form>

        </article>
    {% endfor %}
{% endblock %}
